*{
    margin:0px;
    padding:0px;
    border:border-box;
}
body{  
    background-color:aqua;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:100px 350px;
    height:40vh;
    width:40vw;
    background-color:white;
    border-radius:1rem;
    box-shadow:3px 3px 3px 3px rgba(0,0,0,0.3);
}
.box{
    display:block;
}
button{
    margin:10px 60px;
    color:white;
    border-radius: 10px;
    padding:3px 5px;
    border: none;
}
.color-no{   
    text-align:center;
    padding:10px;
    height:20px;
    width:150px;
    border-radius:10px;
    border:2px solid black;
}